$background: #fff;
$fontFamily: 'Sometype Mono', monospace;
$textColor: #000;

$accentColor: #f6af39;

$fieldDefault: blue;
$fieldDisabled: gray;
$fieldActive: yellow;
$fieldPlayer: green;
$fieldOpponent: red;